.page-list {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);  
}

.color__list {
  margin-top: 80px;
}

.page-list__item {
  width: 245px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.color__list .page-list__item:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.color__list .page-list__item:nth-child(3) {
  padding-top: 20px;
}

.page-list__button {
  display: block;
  outline: none;
  text-align: left;
  font-family: 'Roboto', Arial, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.541327);
  text-decoration: none;
  border: 0;
  background-color: inherit;
}

.page-list__button::before {
  content:"";
  margin-right: 35px;
  vertical-align: middle;
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-position: center center;
}

.page-list__button:disabled {
  opacity: 0.5;
}

.page-list__button--transform::before {
  background-image: url("./images/transform.svg");
}

.active {
  background-color: lightgrey;
}


.active .page-list__button {
  color: #000000;
}

.active .page-list__button::before {
  opacity: 0.5;
}