.canvas-size {
  padding: 10px 15px;
  margin: 0 10px 10px 0;
  border: none;
  background-color: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.24), 0px 0px 4px rgba(0, 0, 0, 0.12);
  outline: none;
}

.canvas-size:hover {
  padding: 9px 14px;
  background-color: yellow;
  border: 1px solid orange;
}

.canvas-size:active {
  padding: 7px 12px;
  opacity: 0.7;
  border: 3px solid red;
}
